<section class="container">
	<img src="{{ asset( 'Image/couverture.jpg') }}" alt="chapters.image">
	<h1>Bienvenue dans l'histoire du sorcier de la montagne de feu</h1>
	<p>Le sorcier de la montagne de feu n'est pas un livre comme les autres. Vous pourrez devenir le héros 
																											d'une aventure périlleuse au cours de laquelle vous chercherez le trésor 
																											que le sorcier a caché. Ce trésor est dissimulé au cœur d'un dédale que 
																											vous explorerez vous-même. L'endroit est peuplé d'une multitude de 
																											monstres souterrains qu'il vous faudra combattre et tuer - faute de quoi, 
																											c'est vous qui perdrez la vie dans l'affrontement.</p>
	<p>Moitié roman, avec sa passionnante histoire, moitié jeu, avec ses 
																									méthodes de combats très sophistiquées, ce livre vous réserve de 
																									nombreuses surprises. A chaque page, vous aurez à relever de 
																									nouveaux défis, et les choix que vous ferez vous mèneront sur des 
																									chemins divers où vous aurez toutes sortes de batailles à livrer. Vous 
																									vous perdrez peut-être dans le labyrinthe ou un Être hideux minera vos 
																									forces, vous mourrez peut-être en combattant des Farfadets, ou vous 
																									serez confronté aux nombreuses créatures qui gardent le trésor du 
																									sorcier. Mais si vous faites preuve de courage, de détermination, et si la 
																									chance vous sourit, il se peut que vous réchappiez des traquenards et 
																									des batailles : alors, vous atteindrez les chambres secrètes du domaine 
																									sur lequel règne le sorcier et où il a caché son trésor. Mais prenez garde 
																									: la magie et les monstres que vous rencontrerez sur le chemin de cette 
																									chasse au trésor sont aussi vrais que nature. Aventure, sorcellerie, cette 
																									chasse vous tiendra en haleine des heures entières !</p>
	<h2>Introduction</h2>
	<p>Avant de vous lancer dans cette aventure, il vous faut d'abord 
																					déterminer vos propres forces et faiblesses. Vous avez en votre 
																					possession une épée et un bouclier, ainsi qu'un sac à dos contenant des 
																					provisions (nourriture et boissons) pour le voyage. Afin de vous 
																					préparer à votre quête, vous vous êtes entraîné au maniement de l'épée 
																					et vous vous êtes exercé avec acharnement à accroître votre endurance.
	</p>
	<p>Des jets de dés vous permettront de mesurer les effets de cette préparation en 
																					déterminant les points dont vous disposerez au départ en matière 
																					d'HABILETÉ et d'ENDURANCE. Plus bas, vous trouverez 
																					une Feuille d'Aventure que vous pourrez utiliser pour noter les détails 
																					d'une aventure. Vous pourrez inscrire dans les différentes cases vos 
																					points d'HABILETÉ et d'ENDURANCE.
	</p>
	<p>Vos points d'HABILETÉ reflètent votre art dans le maniement de l'épée 
																					et votre adresse au combat en général ; plus ils sont élevés, mieux c'est. 
																					Vos points d'ENDURANCE traduisent votre force, votre volonté de 
																					survivre, votre détermination et votre forme physique et morale en 
																					général ; plus vos points d'ENDURANCE sont élevés, plus vous serez 
																					capable de survivre longtemps. Avec vos points de CHANCE, vous 
																					saurez si vous êtes naturellement chanceux ou malchanceux. La chance 
																					et la magie sont des réalités de la vie dans l'univers imaginaire que vous 
																					allez découvrir.</p>
	<p>Il vous sera souvent demandé, au long des pages de ce livre, de 
																					combattre des créatures de toutes sortes. Parfois, vous aurez la 
																					possibilité de choisir la fuite, sinon - ou si vous décidez de toute façon 
																					de combattre -, il vous faudra mener la bataille.</p>
	<p>À certaines pages, vous aurez la possibilité de fuir un combat s'il vous 
																					semble devoir mal se terminer pour vous. Si vous prenez la fuite, 
																					cependant, la créature vous aura automatiquement infligé une blessure 
																					tandis que vous vous échappez. C'est le prix de la couardise.</p>
	<p>À plusieurs reprises au cours de votre aventure, lors de batailles ou 
																					dans des situations qui font intervenir la chance ou la malchance (les 
																					détails vous seront donnés dans les pages correspondantes) vous aurez 
																					la possibilité de faire appel à votre chance pour essayer de rendre une 
																					issue plus favorable. Mais attention ! L'usage de la chance comporte de 
																					grands risques et si vous êtes malchanceux, les conséquences 
																					pourraient se révéler désastreuses.</p>
	<p>Cette règle s'intitule : Tentez votre Chance. Chaque fois que vous « 
																					Tenterez votre Chance », il vous faudra ôter un point à votre total de 
																					CHANCE. Ainsi, vous vous rendrez bientôt compte que plus vous vous 
																					fierez à votre chance, plus vous courrez de risques.
	</p>
	<p>À certaines pages du livre, il vous sera demandé de Tenter votre 
																					Chance et vous serez averti de ce qui vous arrivera selon que vous 
																					serez chanceux ou malchanceux. Lors des batailles, cependant, vous 
																					pourrez toujours choisir d'utiliser votre chance, soit pour infliger une 
																					blessure plus grave à une créature que vous venez de blesser, soit pour 
																					minimiser les effets d'une blessure qu'une créature vient de vous 
																					infliger.</p>
	<p>Si vous venez de blesser une créature, vous pouvez Tenter votre 
																					Chance à la manière décrite plus haut. Si vous êtes chanceux, vous 
																					avez infligé une blessure grave et vous pouvez ôtez deux points de plus 
																					au score d'ENDURANCE de la créature. Si vous êtes malchanceux, 
																					cependant, la blessure n'était qu'une simple écorchure, et vous devez 
																					rajouter un point au score d'ENDURANCE de la créature (c'est-à-dire qu'au lieu d'enlever les deux points correspondant à la blessure, vous 
																					n'aurez ôté qu'un seul point).</p>
	<p>Si la créature vient de vous blesser, vous pouvez Tenter votre Chance
																					pour essayer d'en minimiser les effets. Si vous êtes chanceux, vous 
																					avez réussi à atténuer le coup. Rajoutez alors un point d'ENDURANCE 
																					(c'est-à-dire qu'au lieu de deux points ôtés à cause de la blessure, vous 
																					n'aurez qu'un point en moins). Si vous êtes mal-chanceux, le coup que 
																					vous avez pris était plus grave. Dans ce cas, enlevez encore un point à 
																					votre ENDURANCE.
	</p>
	<p>Comment rétablir votre Habileté, votre Endurance et votre Chance</p>
	<p>Vos points d'HABILETÉ ne changeront pas beaucoup au cours de votre 
																					aventure. A l'occasion, il peut vous être demandé d'augmenter ou de 
																					diminuer votre score d'HABILETÉ. Une arme magique peut augmenter 
																					cette HABILETÉ, mais rappelez-vous qu'on ne peut utiliser qu'une 
																					seule arme à la fois ! Vous ne pouvez revendiquer deux bonus 
																					d'HABILETÉ sous prétexte que vous disposez de deux épées magiques. 
																					Vos points d'HABILETÉ ne peuvent jamais excéder leur total de départ 
																					sauf en certaines circonstances spécifiques. Boire la potion d'Adresse 
																					(voir plus loin) vous permettra à tout moment de rétablir votre 
																					HABILETÉ à son niveau de départ.</p>
	<p>Vos points d'ENDURANCE changeront beaucoup au « ours de votre 
																					aventure en fonction des combats que vous aurez à livrer à des 
																					monstres ou des tâches ardues qu'il vous faudra accomplir. Lorsque 
																					vous approcherez du but, votre niveau d'endurance sera peut-être 
																					dangereusement bas et les combats se révéleront alors pleins de risques, 
																					aussi, soyez prudent ! Votre sac à dos contient suffisamment de 
																					Provisions pour dix repas. Vous ne pouvez vous reposer et manger que lorsque vous en recevez l'autorisation au cours des pages et vous n'avez 
																					droit de prendre qu'un seul repas à la fois. Un repas vous rend 4 points 
																					d'ENDURANCE. Rappelez-vous que vous avez 
																					un long chemin à parcourir, aussi, sachez utiliser vos Provisions avec 
																					prudence !</p>
	<p>Souvenez-vous également que vos points d'ENDURANCE ne peuvent 
																					pas excéder leur niveau de départ sauf si cela vous est spécifiquement 
																					indiqué sur une page du livre. Boire la Potion de Vigueur rétablira à 
																					tout moment votre ENDURANCE à son niveau initial.</p>
	<p>Vos points de CHANCE augmentent au cours de l'aventure lorsque 
																					vous êtes particulièrement chanceux. Les détails vous seront donnés au 
																					long des pages. Rappelez-vous que, comme pour l'ENDURANCE et 
																					l'HABILETÉ, vos points de CHANCE ne peuvent excéder leur niveau 
																					de départ que si vous recevez des instructions spéci-fiques à ce sujet. 
																					Boire la Potion de Bonne Fortune (voir plus loin) rétablira à tout 
																					moment votre CHANCE à son niveau initial et augmentera d'un point 
																					votre CHANCE de départ.</p>
	<p>Equipements et potions
	</p>
	<p>Au début de votre aventure, vous ne disposerez que d'un équipement 
																					minimum, mais vous pourrez trouver d'autres accessoires au cours de 
																					vos voyages. Vous êtes armé d'une épée et vêtu d'une armure de cuir. 
																					Vous portez sur vos épaules un sac à dos dans lequel vous rangerez vos 
																					provisions et les trésors que vous ramasserez. Vous avez également une 
																					lanterne pour vous éclairer.</p>
	<p>Par ailleurs, vous avez droit à une bouteille contenant une potion 
																					magique qui vous aidera dans votre quête. Vous aurez à choisir entre 
																					les trois potions suivantes : La Potion d'Adresse qui vous rend vos 
																					points d'HABILETÉ. La Potion de Vigueur qui vous rend vos points d'ENDURANCE. La Potion de Bonne Fortune qui vous rend vos points 
																					de CHANCE en ajoutant 1 point à votre total de départ.</p>
	<p>Vous pouvez à tout moment boire l'une de ces potions au cours de votre 
																					aventure. En prenant une mesure de potion, vous retrouverez vos points 
																					d'HABILETÉ, d'ENDURANCE ou de CHANCE tels qu'ils étaient à 
																					leur niveau initial (et la Potion de Bonne Fortune ajoutera 1 point au 
																					total de CHANCE dont vous disposiez au départ. Lorsque vous 
																					retrouverez votre CHANCE, il faudra donc y ajouter ce point).
	</p>
	<p>Chaque bouteille de potion contient deux mesures, c'est-à-dire que vous 
																					pourrez retrouver deux fois vos points de départ, au cours d'une même 
																					aventure, dans la catégorie choisie. Rappelez-vous 
																					également que vous n'avez droit qu'à une seule des trois potions, aussi, 
																					choisissez-la avec discernement !</p>
	<p>Indications sur le jeu</p>
	<p>Il y a un bon chemin à trouver dans la montagne du sorcier, et il vous 
																					faudra plusieurs tentatives pour le découvrir. Prenez des notes et 
																					dessinez une carte au fur et à mesure de votre exploration. Cette carte 
																					vous servira lors de prochaines aventures et vous permettra d'avancer 
																					plus rapidement pour atteindre des endroits encore inconnus.
	</p>
	<p>Toutes les pièces ne contiennent pas de trésor ; certaines d'entre elles 
																					recèlent des pièges ou des monstres qui se révéleront sans aucun doute 
																					très dangereux. Il y a beaucoup de passages qui ne mènent nulle part, et 
																					il se peut que vous progressiez à l'intérieur de la montagne, sans pour 
																					autant découvrir le trésor du Sorcier si vous ne ramassez pas sur votre 
																					chemin certains objets bien précis.</p>
	<p>Vous trouverez diverses clés dans les salles du souterrain. Mais vous ne 
																					parviendrez à vous emparer du trésor qu'en ayant avec vous la clé 
																					ouvrant le coffre qui le contient. Il faudra vous attendre à de 
																					nombreuses déceptions lorsque vous serez dans la montagne au sommet 
																					de feu.
	</p>
	<p>Il n'y a qu'un minimum de risques à prendre pour découvrir le bon 
																					chemin, et n'importe quel joueur, même si ses points de départ sont 
																					faibles, peut trouver très facilement la voie.
	</p>
	<p>Puisse la chance des dieux vous accompagner au long de votre aventure
	</p>
	{% if is_granted('ROLE_USER') %}
		<div class="text-center">
			<a class="btn btn-primary btn-lg active" href="{{ path('character') }}">Let's Go</a>
		</div>
	{% else %}
		<div class="text-center">
			<a class="btn btn-primary btn-lg active" href="{{ path('app_login') }}">Connectez-vous pour partir à l'aventure</a>
		</div>
	{% endif %}
</section>
